/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    background: transparent;
    /* This is to act like a mac app, where the overall app frame doesn't scroll
     * but specific areas within the app will */
    overflow: hidden;
  }
}

@layer components {
  .FilterInput {
    @apply appearance-none outline-none px-2 py-1 w-full bg-transparent text-white;
  }
}
